<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="tab-info">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item pointer">
                            <a class="nav-link" [ngClass]="{'active':tabidex === 'card-tab-1'}" role="tab" data-toggle="tab" #defaultTab (click)="setTabValue('default','card-tab-1'); setActiveMainTab('getIncomingDonation');">Пожертвования</a>
                        </li>
                        <li class="nav-item pointer">
                            <a class="nav-link" [ngClass]="{'active':tabidex === 'card-tab-2'}" role="tab" data-toggle="tab" #defaultTabEvents (click)="setTabValue('default','card-tab-2'); setActiveMainTab('getCharityEvents');">События</a>
                        </li>
                        <li class="nav-item nav-item-tab pointer position-rel" *ngFor="let item of tabsArray">
                            <a *ngIf="item.type == 'donation'" class="nav-link pdd-right-25" [ngClass]="{'active':tabidex === item.address}" role="tab" data-toggle="tab" (click)="setTabValue('incomingDonation', item.address)">{{item.realWorldIdentifier}}</a>
                            <a *ngIf="item.type == 'events'" class="nav-link pdd-right-25" [ngClass]="{'active':tabidex === item.address}" role="tab" data-toggle="tab" (click)="setTabValue('charityEven', item.address)">{{item.name}}</a>
                            <div class="ei ei-unchecked tab-close" (click)="removeFromTabs(item.address);"></div>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" [ngClass]="{'active':tabidex === 'card-tab-1'}">
                        <div class="table-overflow">
                            <table class="table table-lg table-hover" datatable>
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>RealWorldIdentifier</th>
                                        <th>Amount</th>
                                        <th>Note</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of incomingDonationsFavorites" (click)="openDetailedtIncomingDonation(item.address, 'incomingDonation')" class="cursor-p">
                                        <td>
                                            <div class="checkbox checkbox-star mrg-left-20" (click)="checkBoxChange($event)" *ngIf="userRole === 'USER'">
                                                <input id="task10_{{item.address}}" name="task10" type="checkbox" (change)="addToFavorites(item)" [checked]="favoritesArr.indexOf(item.address) > -1">
                                                <label for="task10_{{item.address}}"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="relative mrg-top-15">
                                                <span class="status online"> </span>
                                                <span class="pdd-left-20">{{item.realWorldIdentifier}}</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="mrg-top-15">
                                                <b class="text-dark font-size-16">${{item.amount}}</b>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="mrg-top-15">
                                                <b class="text-info font-size-16">{{item.note}}</b>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="mrg-top-15">
                                                <span>{{item.date}}</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr *ngFor="let item of incomingDonations" (click)="openDetailedtIncomingDonation(item.address, 'incomingDonation')" class="cursor-p">
                                        <td>
                                            <div class="checkbox checkbox-star mrg-left-20" (click)="checkBoxChange($event)" *ngIf="userRole === 'USER'">
                                                <input id="task10_{{item.address}}" name="task10" type="checkbox" (change)="addToFavorites(item)" [checked]="favoritesArr.indexOf(item.address) > -1">
                                                <label for="task10_{{item.address}}"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="relative mrg-top-15">
                                                <span class="status online"> </span>
                                                <span class="pdd-left-20">{{item.realWorldIdentifier}}</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="mrg-top-15">
                                                <b class="text-dark font-size-16">${{item.amount}}</b>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="mrg-top-15">
                                                <b class="text-info font-size-16">{{item.note}}</b>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="mrg-top-15">
                                                <span>{{item.date}}</span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div *ngIf="incomingDonations.length == 0" class="table-no-item">
                                <span>No items</span>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" [ngClass]="{'active':tabidex === 'card-tab-2'}">
                        <div class="table-overflow">
                            <table class="table table-lg table-hover" datatable>
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Name</th>
                                        <th>Payed</th>
                                        <th>Raised</th>
                                        <th>Target</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of charityEventsFavorites" (click)="openDetailedtCharityEvent(item.address, 'charityEven')" class="cursor-p">
                                        <td>
                                            <div class="checkbox checkbox-star mrg-left-20" (click)="checkBoxChange($event)" *ngIf="userRole === 'USER'">
                                                <input id="task10_{{item.address}}" name="task10" type="checkbox" (change)="addToFavorites(item)" [checked]="favoritesArr.indexOf(item.address) > -1">
                                                <label for="task10_{{item.address}}"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="relative mrg-top-15">
                                                <span class="status online"> </span>
                                                <span class="pdd-left-20">{{item.name}}</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="mrg-top-15">
                                                <b class="text-dark font-size-16">${{item.payed}}</b>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="mrg-top-15">
                                                <b class="text-info font-size-16">{{item.raised}}</b>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="mrg-top-15">
                                                <b class="text-info font-size-16">{{item.target}}</b>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="mrg-top-15">
                                                <span>{{item.date}}</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr *ngFor="let item of charityEvents" (click)="openDetailedtCharityEvent(item.address, 'charityEven')" class="cursor-p">
                                        <td>
                                            <div class="checkbox checkbox-star mrg-left-20" (click)="checkBoxChange($event)" *ngIf="userRole === 'USER'">
                                                <input id="task10_{{item.address}}" name="task10" type="checkbox" (change)="addToFavorites(item)" [checked]="favoritesArr.indexOf(item.address) > -1">
                                                <label for="task10_{{item.address}}"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="relative mrg-top-15">
                                                <span class="status online"> </span>
                                                <span class="pdd-left-20">{{item.name}}</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="mrg-top-15">
                                                <b class="text-dark font-size-16">${{item.payed}}</b>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="mrg-top-15">
                                                <b class="text-info font-size-16">{{item.raised}}</b>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="mrg-top-15">
                                                <b class="text-info font-size-16">{{item.target}}</b>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="mrg-top-15">
                                                <span>{{item.date}}</span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div *ngIf="charityEvents.length == 0" class="table-no-item">
                                <span>No items</span>
                            </div>
                        </div>
                    </div>

                    <!-- Repeat tabs start -->
                    <div role="tabpanel" class="tab-pane" *ngFor="let item of tabsArray" [ngClass]="{'active':tabidex === item.address}">
                        <div class="table-overflow pdd-btm-20" *ngIf="item.type == 'donation'">
                            <div class="card card-body no-mrg-btm item-card">
                                <h4 class="font-size-22 mrg-top-20">{{item.realWorldIdentifier}}</h4>
                                <span class="card-address">{{item.address}}</span>
                                <div class="padding-8-0">
                                    <h5 class="text-bold">Notes:</h5>
                                    <span class="display-block">{{item.note}}</span>
                                </div>
                                <div class="padding-8-0">
                                    <h5 class="text-bold">Tags:</h5>
                                    <span class="display-block">{{item.tags}}</span>
                                </div>
                                <div class="mrg-top-10">
                                    <span class="font-size-13">{{item.date}}</span>
                                    <div class="float-right">
                                        <span class="card-label-bold mrg-right-10">Amount</span>
                                        <span class="card-label-yellow">{{item.amount}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-block padding-25" *ngIf="item.history.length > 0">
                                <div class="card no-border">
                                    <h2>История переводов</h2>
                                    <div class="table-overflow">
                                        <table class="table table-striped donations-table">
                                            <thead>
                                                <tr>
                                                    <th>Date</th>
                                                    <th>Charity Event</th>
                                                    <th>Transaction</th>
                                                    <th>Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let history of item.history">
                                                    <td>{{ history.date | date:'MM.dd.yyyy' }}</td>
                                                    <td>{{history.charityEvent}}</td>
                                                    <td>{{history.transactionHash}}</td>
                                                    <td><span class="transaction-value">+ {{history.amount}}</span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-overflow pdd-btm-20" *ngIf="item.type == 'events'">
                            <div class="card card-body no-mrg-btm item-card">
                                <h4 class="font-size-22 mrg-top-20">{{item.name}}</h4>
                                <span class="card-address">{{item.address}}</span>
                                <div class="padding-8-0">
                                    <h5 class="text-bold">Payed:</h5>
                                    <span class="display-block">{{item.payed}}</span>
                                </div>
                                <div class="padding-8-0">
                                    <h5 class="text-bold">Raised:</h5>
                                    <span class="display-block">{{item.raised}}</span>
                                </div>
                                <div class="mrg-top-10">
                                    <span class="font-size-13">{{item.date}}</span>
                                    <div class="float-right">
                                        <span class="card-label-bold mrg-right-10">Target</span>
                                        <span class="card-label-yellow">{{item.target}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-block padding-25" *ngIf="item.history.length > 0">
                                <div class="card no-border">
                                    <h2>История переводов</h2>
                                    <div class="table-overflow">
                                        <table class="table table-striped donations-table">
                                            <thead>
                                                <tr>
                                                    <th>Date</th>
                                                    <th>Charity Event</th>
                                                    <th>Transaction</th>
                                                    <th>Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let history of item.history">
                                                    <td>{{ history.date | date:'MM.dd.yyyy' }}</td>
                                                    <td>{{history.charityEvent}}</td>
                                                    <td>{{history.transactionHash}}</td>
                                                    <td><span class="transaction-value">+ {{history.amount}}</span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Repeat tabs end -->

                </div>
            </div>
        </div>
    </div>
</div>