<div class="app">
    <div class="authentication">
        <div class="sign-in">
            <div class="row no-mrg-horizon">
                <div class="col-md-8 no-pdd-horizon d-none d-md-block">
                    <div class="full-height bg" style="background-image: url('assets/images/others/img-29.jpg')">
                        <div class="img-caption">
                            <h1 class="caption-title">We make spectacular</h1>
                            <p class="caption-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 no-pdd-horizon">
                    <div class="full-height bg-white height-100">
                        <div class="vertical-align full-height pdd-horizon-70">
                            <div class="table-cell">
                                <div class="pdd-horizon-15">
                                    <h2>Вход</h2>
                                    <p class="mrg-btm-15 font-size-13">Пожалуйста, введите ваш логин и пароль, чтобы войти</p>
                                    <form [formGroup]="loginForm" (submit)="loginFormSubmit()">
                                        <div class="form-group">
                                            <input type="email" class="form-control" placeholder="Эл. адрес пользователя" id="email" formControlName="email">
                                            <span *ngIf="isControlInvalid('email')" class="error-label">Обязательно для заполнения!</span>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" placeholder="Пароль" id="pass" formControlName="pass">
                                            <span *ngIf="isControlInvalid('pass')" class="error-label">Обязательно для заполнения!</span>
                                        </div>
                                        <div class="checkbox font-size-13 inline-block no-mrg-vertical no-pdd-vertical"></div>
                                        <div class="pull-right mt-3px">
                                            <a (click)="openForgotPassModal()" style="color: #0f9aee; cursor: pointer;">Забыли пароль?</a>
                                        </div>
                                        <button type="submit" class="btn btn-info mt-15px" [disabled]="!loginForm.valid">Вход</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="login-footer">
                            <img class="img-responsive inline-block" src="assets/images/logo/logo.png" width="100" alt="">
                            <span class="font-size-13 pull-right pdd-top-5">У вас нет учетной записи? <a routerLink="/registration">Зарегистрируйтесь сейчас</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>