<div class="container-fluid">
    <div class="page-title">
        <h4>Настройки аккаунта</h4>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-heading border bottom">
                            <h4 class="card-title">Основная информация</h4>
                        </div>
                        <div class="card-block">
                            <form [formGroup]="userForm" (submit)="userSubmit()">
                                <div class="row">
                                    <div class="col-md-3">
                                        <p class="mrg-top-10 text-dark"> <b>Эл. адрес</b></p>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" id="email" formControlName="email">
                                        <span *ngIf="isControlInvalid('email')" class="error-label">Обязательно для заполнения!</span>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-3">
                                        <p class="mrg-top-10 text-dark"> <b>Имя</b></p>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" id="firstName" formControlName="firstName">
                                        <span *ngIf="isControlInvalid('firstName')" class="error-label">Обязательно для заполнения!</span>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-3">
                                        <p class="mrg-top-10 text-dark"> <b>Фамилия</b></p>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" id="lastName" formControlName="lastName">
                                        <span *ngIf="isControlInvalid('lastName')" class="error-label">Обязательно для заполнения!</span>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-3">
                                        <p class="mrg-top-10 text-dark"> <b>Пароль</b></p>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="password" class="form-control" id="pass" formControlName="pass">
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-3">
                                        <p class="mrg-top-10 text-dark"> <b>Новый пароль</b></p>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="password" class="form-control" id="newpass" formControlName="newpass">
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-3">
                                        <p class="mrg-top-10 text-dark"> <b>Повторите пароль</b></p>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="password" class="form-control" id="reppass" formControlName="reppass">
                                        <span *ngIf="isControlInvalid('reppass')" class="error-label">Invalid value!</span>
                                    </div>
                                </div>

                                <!-- <hr>
                                <div class="row">
                                    <div class="col-md-3">
                                        <p class="mrg-top-10 text-dark"> <b>Tags</b></p>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="mrg-top-10"><span *ngFor="let item of userData.tags">{{}}</span></p>
                                    </div>
                                </div> -->
                                <hr>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button (click)="undisabledInputs()" class="btn btn-info mt-15px pull-right" *ngIf="inputDisabled">Изменить</button>
                                        <button type="submit" class="btn btn-info mt-15px pull-right" [disabled]="!userForm.valid" *ngIf="!inputDisabled">Обновить</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>